always-auth = false
child-concurrency = 5
color = auto
enable-modules-dir = true
engine-strict = false
fetch-retries = 1
fetch-retry-maxtimeout = 60000
fetch-retry-mintimeout = 10000
fetch-timeout = 100000
hoist = false
link-workspace-packages = true
lockfile = true
loglevel = info
modules-cache-max-age = 2880
node-linker = isolated
package-import-method = auto
prefer-frozen-lockfile = true
prefer-offline = true
prefer-workspace-packages = true
public-hoist-pattern = []
recursive-install = true
save-exact = true
save-workspace-protocol = true
shamefully-hoist = false
shared-workspace-lockfile = true
strict-peer-dependencies = false
symlink = true
tag = latest
use-beta-cli = false
use-stderr = false
